.Header {
  background-color: black;
  display: flex;
  padding-left: 20px;
}

.Header__Link div {
  background-color: gray;
  cursor: pointer;
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header__Link div:hover {
  background-color: aquamarine;
}

.Header__Link {
  color: #fff;
  text-decoration: none;
}